.tooltip {
    position: relative;
    .tooltiptext {
        //visibility: hidden;
        display: none;
        min-width: 120px;
        max-width: 210px;
        font-size: 12px;
        background-color: #000000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
        font-size: 12px;
        padding: 7px;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
      }
  }
  
  .tooltip:hover .tooltiptext {
      display: block;
    // visibility: visible;
  }